h1 
{
    text-align: center;
    color: bisque;
    margin-top: 10%;
	position: absolute;
	
    
}
body{
	background-color: lightblue;
}
.button-class {
			background-color: #4CAF50;
			/* Green */
			border: none;
			color: white;
			padding: 1% 1%;
			text-align: right;
			text-decoration: none;
			display: inline-block;
			font-size: 100%;
			margin-top:3% ;
			margin-left: -1%;
			cursor: pointer;
			border-radius: 30%;
            position: absolute;
		}
.block1{
background-color: rgba(0, 99, 219, 0.758);
display: inline-block;
border: none;
margin-top: 4%;
margin-left: 4%;
text-align: center;
width: 91%;
padding-top: 100%;
position: absolute;
}

