h1 
{
    text-align: center;
    color: bisque;
	margin-top: 7%;
	position: absolute;
	margin-left: 39%;
	font-size: 350%;
	box-sizing: border-box;
    
}
body{
	background-image: linear-gradient(45deg, rgb(5, 164, 5), rgba(1, 1, 182, 0.806), rgba(6, 31, 115, 0.765));
}
.button-class {
			background-color: #4CAF50;
			/* Green */
			border: none;
			color: white;
			padding: 1% 1%;
			text-align: right;
			text-decoration: none;
			display: inline-block;
			font-size: 100%;
			margin-top:3% ;
			margin-left: -1%;
			cursor: pointer;
			border-radius: 30%;
            position: absolute;
			box-sizing: border-box;
		}
.button-class:hover{
	background-color: red;
}
.block1{
background-color: rgba(0, 12, 27, 0.758);
display: inline-block;
border: none;
margin-top: 4%;
margin-left: 4%;
text-align: center;
width: 91%;
padding-top: 100%;
border-radius: 7%;
position: absolute;
box-sizing: border-box;
border-style: groove;
border-color: bisque;
}

.personaldataimg{
	
	width: 20px;
	height: auto;
	margin-top: 55%;
	margin-left: 67%;
	position: absolute;
	display: inline-block;
	border-radius: 8%;
}

.earthimg{
	
	width: 20px;
	height: auto;
	margin-top: 24%;
	margin-left: 67%;
	position: absolute;
	display: inline-block;
	border-radius: 8%;
}

.gavelimg{
	
	width: 20px;
	height: auto;
	margin-top: 80%;
	margin-left: 67%;
	position: absolute;
	
}
.gavelcredit{
	font-size: 80%;
	color: white;
	margin-top: 99%;
	margin-left: 75.5%;
	margin-right: 30%;
	position: absolute;
}

.titele{
	font-size: 150%;
	color: white;
	margin-top: 17%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}
.upg1{
	font-size: 112.5%;
	color: white;
	margin-top: 19.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
	font-size: 80%;
}

.Text1{
	font-size: 112.5%;
	color: white;
	margin-top: 21%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}


.upg2{
	font-size: 112.5%;
	color: white;
	margin-top: 31.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
	font-size: 80%;
}
.titele2{
	font-size: 150%;
	color: white;
	margin-top: 29%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}

.Text2{
	font-size: 112.5%;
	color: white;
	margin-top: 33%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}


.titele3{
	font-size: 150%;
	color: white;
	margin-top: 40%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}

.upg3{
	font-size: 112.5%;
	color: white;
	margin-top: 42.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
	font-size: 80%;
}

.Text3{
	font-size: 112.5%;
	color: white;
	margin-top: 44%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}

.titele4{
	font-size: 150%;
	color: white;
	margin-top: 50.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}

.upg4{
	font-size: 112.5%;
	color: white;
	margin-top: 53.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
	font-size: 80%;
}
.Text4{
	font-size: 112.5%;
	color: white;
	margin-top: 55%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}

.titele5{
	font-size: 150%;
	color: white;
	margin-top: 60.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}

.upg5{
	font-size: 112.5%;
	color: white;
	margin-top: 64%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
	font-size: 80%;
}

.Text5{
	font-size: 112.5%;
	color: white;
	margin-top: 66%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}

.titele6{
	font-size: 150%;
	color: white;
	margin-top: 72.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}

.upg6{
	font-size: 112.5%;
	color: white;
	margin-top: 75.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
	font-size: 80%;
}

.Text6{
	font-size: 112.5%;
	color: white;
	margin-top: 77%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}


.titele7{
	font-size: 150%;
	color: white;
	margin-top: 85.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}
.upg7{
	font-size: 112.5%;
	color: white;
	margin-top: 88.5%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
	font-size: 80%;
}
.Text7{
	font-size: 112.5%;
	color: white;
	margin-top: 90%;
	margin-left: 10%;
	width: 50%;
	position: absolute;
}